@font-face {
    font-family: 'Fraunces 72pt SuperSoft';
    src: url('Fraunces72ptSuperSoft-Bold.woff2') format('woff2'),
        url('Fraunces72ptSuperSoft-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt SuperSoft';
    src: url('Fraunces72ptSuperSoft-Black.woff2') format('woff2'),
        url('Fraunces72ptSuperSoft-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt SuperSoft';
    src: url('Fraunces72ptSuperSoft-BlackItalic.woff2') format('woff2'),
        url('Fraunces72ptSuperSoft-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt SuperSoft';
    src: url('Fraunces72ptSuperSoft-BoldItalic.woff2') format('woff2'),
        url('Fraunces72ptSuperSoft-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt SuperSoft';
    src: url('Fraunces72ptSuperSoft-LightItalic.woff2') format('woff2'),
        url('Fraunces72ptSuperSoft-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt SuperSoft';
    src: url('Fraunces72ptSuperSoft-Light.woff2') format('woff2'),
        url('Fraunces72ptSuperSoft-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt SuperSoft';
    src: url('Fraunces72ptSuperSoft-Italic.woff2') format('woff2'),
        url('Fraunces72ptSuperSoft-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt SuperSoft';
    src: url('Fraunces72ptSuperSoft-SemiBold.woff2') format('woff2'),
        url('Fraunces72ptSuperSoft-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt SuperSoft';
    src: url('Fraunces72ptSuperSoft-Regular.woff2') format('woff2'),
        url('Fraunces72ptSuperSoft-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt SuperSoft';
    src: url('Fraunces72ptSuperSoft-ThinItalic.woff2') format('woff2'),
        url('Fraunces72ptSuperSoft-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt SuperSoft';
    src: url('Fraunces72ptSuperSoft-Thin.woff2') format('woff2'),
        url('Fraunces72ptSuperSoft-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt SuperSoft';
    src: url('Fraunces72ptSuperSoft-SemiBoldItalic.woff2') format('woff2'),
        url('Fraunces72ptSuperSoft-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt';
    src: url('Fraunces72pt-Bold.woff2') format('woff2'),
        url('Fraunces72pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt';
    src: url('Fraunces72pt-Black.woff2') format('woff2'),
        url('Fraunces72pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt';
    src: url('Fraunces72pt-BlackItalic.woff2') format('woff2'),
        url('Fraunces72pt-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt';
    src: url('Fraunces72pt-LightItalic.woff2') format('woff2'),
        url('Fraunces72pt-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt';
    src: url('Fraunces72pt-SemiBold.woff2') format('woff2'),
        url('Fraunces72pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt';
    src: url('Fraunces72pt-Regular.woff2') format('woff2'),
        url('Fraunces72pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt';
    src: url('Fraunces72pt-Italic.woff2') format('woff2'),
        url('Fraunces72pt-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt';
    src: url('Fraunces72pt-Light.woff2') format('woff2'),
        url('Fraunces72pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt';
    src: url('Fraunces72pt-BoldItalic.woff2') format('woff2'),
        url('Fraunces72pt-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt';
    src: url('Fraunces72pt-Thin.woff2') format('woff2'),
        url('Fraunces72pt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt Soft';
    src: url('Fraunces72ptSoft-Black.woff2') format('woff2'),
        url('Fraunces72ptSoft-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt';
    src: url('Fraunces72pt-ThinItalic.woff2') format('woff2'),
        url('Fraunces72pt-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt';
    src: url('Fraunces72pt-SemiBoldItalic.woff2') format('woff2'),
        url('Fraunces72pt-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt Soft';
    src: url('Fraunces72ptSoft-Bold.woff2') format('woff2'),
        url('Fraunces72ptSoft-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt Soft';
    src: url('Fraunces72ptSoft-BlackItalic.woff2') format('woff2'),
        url('Fraunces72ptSoft-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt Soft';
    src: url('Fraunces72ptSoft-Light.woff2') format('woff2'),
        url('Fraunces72ptSoft-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt Soft';
    src: url('Fraunces72ptSoft-Italic.woff2') format('woff2'),
        url('Fraunces72ptSoft-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 72pt Soft';
    src: url('Fraunces72ptSoft-BoldItalic.woff2') format('woff2'),
        url('Fraunces72ptSoft-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

